{
  "CompileFlags": {
    "CompilationDatabase": "./out/"
  },
  "Diagnostics": {
    "ClangTidy": {
      "Add": [
        "bugprone-*",
        "cert-*",
        "cppcoreguidelines-*"
      ]
    }
  }
}
